#contact-page-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    border: 3px solid gray;
    border-radius: 15px;
    padding: 32px;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
  
}

footer {
    color: black;
    margin-top: 0;
}