.gallery-top {
    background-color: lightseagreen;
    height: 50px;
    width: auto;
    margin: 8px;
    padding: 38px;
    display: flex;
    justify-content: space-between;
}

.gallery-intro {
    height: 80px;
    width: auto;
    margin:8px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.photo-grid-container {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo-grid-container > div> img {
    width: 150px;
    height: 180px;
}
