body,
html {
    height: 100%,
    font-family: 'Poiret One', cursive;
}

.back {
    align-self: flex-end;
   
}

.gallery-top {
    background-color: lightseagreen;
    height: 100px;
    width: auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

h1 {
    flex: 1;
}

.gallery-intro {
    height: 80px;
    width: auto;
    margin:8px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.photo-grid-container {
    display:flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.photo-grid-container > div> img {
    width: 150px;
    height: 180px;
}


