html {
    color: black;
    background-color: aliceblue;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.main-top {
    color: darkslategrey;
    background-color: lightseagreen;
    height: 50px;
    margin: 8px;
    padding: 38px;
    display: flex;
    justify-content: center;

}

nav {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: lightcoral;
}

 #title-image img {
  width: 50%;
  height: auto;
 
}

#title-image {
    display: flex;
    align-items: center;
    padding-left: 250px;
    background-color: black;
}



.page-links,
.page-link-images {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}

img.page-link-images {
    flex:1;
    
}

img {
    width: 25%;
    height: auto;
}
.left {
    flex: 1;
}

.right {
    flex: 0;
    padding-right: 0;
}

.horse-care, .contact {
    color: black;
    
}

.horse-care:hover, 
.budgeting:hover,
.about:hover,
.contact:hover, 
.breeds:hover {
    color: white;
}

.budgeting, .about, .breeds {
    color: lightcoral;
}

a:hover {
    color: black;
}