body {
    color: black;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
    font-family: 'Poiret One', cursive;
    margin: 0;
    
}

.header {
    align-items: center;
    padding: 16px;
    height: 72px;
    background-color:rgb(4, 12, 80);
    color:white;
    margin-bottom: 0;
}

nav {
    width: 200px;
    display: flex;
    order: -1;
    flex-shrink: 0;
    background-color: rgba(32, 178, 170, 50%);  
    color: black;
    font-weight: bold;
    font-size: 24px;

}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 24px;
}


#trot-back {
    align-self: flex-end;    
}
 
.holy-grail-body {
    display: flex;
}

.main-container {
    flex:1;
    padding: 32px;
}

a {
    text-decoration: none;
    color: black;
}

#title-image img {
    width: 50%;
    height: auto;
    border-radius: 15px;
}

#title-image {
    background-color: black; 
    border: 3px solid gray;
    border-radius: 15px;
    /* A workaround for my desired image size 
    and resolution.
    */
}

.page-links,
.page-link-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    gap: 16px;
    flex:1;
   
}

img {
    width: 25%;
    height: auto;
}

#horse-care:hover, 
#budgeting:hover,
.about:hover,
#contact:hover, 
#breeds:hover,
.back:hover, 
a:hover,
#trot-back:hover {
    color: white;
}


.contact-form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        width:100%;
        border: 3px solid gray;
        border-radius: 15px;
        background-color:aliceblue;
    }

.subscribe {
        font-weight: 700;
        color:blueviolet;
        text-align: center;
    }

 #contact-form {
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 8px;
    }
    
    #submit {
        width: 100px;
        align-self: center;
        background-color: rgb(127, 219, 255);
       
    }

    .footer {
        background-color:rgb(4, 12, 80);
        color: white;
        padding: 18px;
    }   

   
    
    