html {
    color: black;
    background-color: aliceblue;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    text-align: center;
    border: 1px solid green;
}
.title {
    font-size: 24px;
    font-weight: bold;
}
.main-top {
    color: darkslategrey;
    background-color: lightseagreen;
    height: 50px;
    margin: 8px;
    padding: 16px;
    border: 1px solid green;
    display: flex;
    
}

 img {
  width: 50%;
  height: auto;
 
}

#title-image {
    border: 16px solid coral;
    display: flex;
    align-items: center;
    padding-left: 250px;
}